
.holder img{
    background-color: #f1f1f1;
    height: auto;
    max-height: 85vh;
    max-width: 100%;
}

div {
    text-align: center;
}





body{
    max-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #222;
    color: #aaa;
}

html {background-color: #1a1a1a}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 100%;
    background-color: #222;
    color: #aaa;
    text-align: center;

}
h1{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 100%;
    background-color: #222;
    color: #aaa;
    text-align: center;

}